
.container{
    border: 1px solid black;
    text-align: center;
    height: 150px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(224,203,75,1) 0%, rgba(255,189,9,1) 60%);  
}

.container h3{
    padding-left: 360px;
    padding-right: 360px;
    width: 50rem;
    font-size: 2.25em;
    text-align: left;
}

.container a:hover{
color:red;
}

.container a{
    color: black;
    font-size: unset;
}

footer{ 
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,41,47,1) 18%); 
    color:  #ffffff;
    padding: 3em 1.125em 3em 1.125em;
    text-align: center;
    margin-top: 100px;
}

ul{
    list-style: none;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    text-align: left;
    font-family: 'official-serif',serif;
}

li{
    padding-bottom: .5em;
}

.icon:visited{
    color: #ffffff;
}

.copyrights a{
    font-size: unset;
    color: #ffffff;
}

#footer-sidebar{
    margin-left: 150px;
    width: 32em;
    text-align: left;
}

ul{
    display: flex;
    text-align: center;
}

ul li{
    margin: 5px;
    font-size: 35px;
}

ul li a {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background-color: #959799;
    color: #fff;
}

i{
    width: 1.25em;
    height: 1.15em;
}
a.facebook:hover{
    background-color: #3b5999;
}
a.instagram:hover{
    background-color: #e4405f;
}
a.linkedin:hover{
    background-color: #0077B5;
}




