div {
  margin: 0 auto;
  display: flex;
  max-width: 15vw;
  max-height: 35rem;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: purple;
}

span {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  justify-content: center;
  margin: 2px;
  padding: 2px;
}
.box-1 {
  background-color: rgb(115, 128, 0);
  order: 7;
}

.box-2 {
  background-color: rgb(62, 151, 20);
  order: 1;
}
.box-3 {
  background-color: rgb(17, 173, 17);
  order: 4;
}

.box-4 {
  background-color: rgb(19, 180, 13);
  order: 2;
}
.box-5 {
  background-color: rgb(11, 197, 11);
  order: 6;
}

.box-6 {
  background-color: rgb(77, 216, 22);
  order: 5;
}
.box-7 {
  background-color: rgb(17, 226, 17);
  order: 10;
}

.box-8 {
  background-color: rgb(212, 212, 13);
  order: 3;
}
.box-9 {
  background-color: rgb(206, 163, 21);
  order: 8;
}

.box-10 {
  background-color: rgb(238, 179, 18);
  order: 11;
}
.box-11 {
  background-color: rgb(241, 132, 8);
  order: 0;
}

.box-12 {
  background-color: rgb(245, 44, 9);
  order: 1;
}
